In [1]:
# Import libraries
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Load in data
df=pd.read_csv('Data/AviationData.csv', encoding='latin-1', low_memory=False)
df

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [4]:
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [5]:
#Dropping rows if the make or model is missing.
#We want to identify which plane is the best investment and cant do so if this info is missing.
df.dropna(subset=['Make', 'Model'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88777 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88777 non-null  object
 1   Investigation.Type      88777 non-null  object
 2   Accident.Number         88777 non-null  object
 3   Event.Date              88777 non-null  object
 4   Location                88725 non-null  object
 5   Country                 88552 non-null  object
 6   Latitude                34347 non-null  object
 7   Longitude               34338 non-null  object
 8   Airport.Code            50213 non-null  object
 9   Airport.Name            52746 non-null  object
 10  Injury.Severity         87798 non-null  object
 11  Aircraft.damage         85605 non-null  object
 12  Aircraft.Category       32245 non-null  object
 13  Registration.Number     87502 non-null  object
 14  Make                    88777 non-null  object
 15  Model                   88777 non-null  object
 16  Amateur.Built           88678 non-null  object
 17  Number.of.Engines       82754 non-null  float64
 18  Engine.Type             81771 non-null  object
 19  FAR.Description         31936 non-null  object
 20  Schedule                12532 non-null  object
 21  Purpose.of.flight       82639 non-null  object
 22  Air.carrier             16609 non-null  object
 23  Total.Fatal.Injuries    77391 non-null  float64
 24  Total.Serious.Injuries  76287 non-null  float64
 25  Total.Minor.Injuries    76863 non-null  float64
 26  Total.Uninjured         82880 non-null  float64
 27  Weather.Condition       84338 non-null  object
 28  Broad.phase.of.flight   61683 non-null  object
 29  Report.Status           82442 non-null  object
 30  Publication.Date        75012 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.7+ MB

In [6]:
df['Make'].value_counts()

Cessna            22226
Piper             12029
CESSNA             4919
Beech              4330
PIPER              2840
                  ...
Gilpatrick            1
Grice                 1
HESS JOHN L           1
Sjostrand             1
GRAVES BRYON S        1
Name: Make, Length: 8224, dtype: int64

In [7]:
df['Make']=df['Make'].str.lower()
df['Make'].value_counts()

cessna                27145
piper                 14869
beech                  5371
boeing                 2738
bell                   2722
                      ...
terning                   1
stafford wayne h          1
schneider k/cook c        1
morrison joseph           1
bedecorp llc              1
Name: Make, Length: 7575, dtype: int64

In [8]:
df['Model'].value_counts()

152                2367
172                1756
172N               1164
PA-28-140           932
150                 829
                   ...
PLAYBOY               1
PA-230-250            1
Stewart               1
SQ-2000 XL            1
Terrair Express       1
Name: Model, Length: 12311, dtype: int64

In [9]:
# Function to process a single value
def process_category(value):
    # Convert to lowercase, remove spaces, dashes, and underscores, and combine all words
    return ''.join(value.lower().replace(' ', '').replace('-', '').replace('_', ''))

df['Model'] = df['Model'].apply(process_category)
df['Model'].value_counts()

152               2367
172               1756
172n              1172
pa28140           1002
172m               829
                  ...
duncan/varieze       1
maxairxp503          1
jd2                  1
m18x                 1
astore               1
Name: Model, Length: 8843, dtype: int64

In [10]:
df['Make/Model'] = df['Make']+" "+df['Model']
df['Make/Model'].value_counts()

cessna 152                    2366
cessna 172                    1753
cessna 172n                   1171
piper pa28140                 1001
cessna 172m                    829
                              ...
weber venture                    1
montgomery quickietriq/200       1
ted smith 601p                   1
byron j. moore zealot            1
cessna o1a                       1
Name: Make/Model, Length: 15844, dtype: int64

In [11]:
df['Aircraft.Category'].value_counts()

Airplane             27580
Helicopter            3435
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
ULTR                     1
Rocket                   1
Name: Aircraft.Category, dtype: int64

In [12]:
df[df['Aircraft.Category']=='Airplane']['Make/Model'].value_counts()

cessna 172                          867
cessna 152                          450
boeing 737                          404
cessna 182                          345
piper pa28                          327
                                   ...
2007 savage air llc epiclt            1
turbo thrush s2r                      1
thomas j murray kitfoxsupersport      1
cessna cessna441                      1
cessna o1a                            1
Name: Make/Model, Length: 6615, dtype: int64

In [13]:
df[df['Aircraft.Category']=='Airplane']['Make/Model'].value_counts().sum()

27580

In [14]:
# df[(df['Aircraft.Category'] == 'Airplane') | (df['Aircraft.Category'].isna())]
# df.info()

In [15]:
# 1. df['Aircraft.Category'].isna(): 
#This part creates a boolean mask where it checks if the values in the 'Aircraft.Category' column are NaN. 
#It returns True for NaN values and False otherwise.

# 2. df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Airplane']['Make/Model']): 
# This part creates another boolean mask. It checks if the values in the 'Make/Model' 
# column are present in the 'Make/Model' column of rows where 'Aircraft.Category' is equal to 'Airplane'. 
# It returns True for rows where the 'Make/Model' is in the list of 'Make/Model' values for 'Airplane'.

# 3. mask = df['Aircraft.Category'].isna() & ...: 
# This line combines the two boolean masks using the bitwise AND (&) operator. 
# The resulting mask will be True for rows where 'Aircraft.Category' is NaN and the corresponding 'Make/Model' 
# is in the list of 'Make/Model' values for 'Airplane'.



Airplane_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Airplane']['Make/Model'])
Helicopter_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Helicopter']['Make/Model'])
Glider_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Glider']['Make/Model'])
Balloon_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Balloon']['Make/Model'])
Gyrocraft_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Gyrocraft']['Make/Model'])
WeightShift_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Weight-Shift']['Make/Model'])
PoweredParachute_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Powered Parachute']['Make/Model'])
Ultralight_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Ultralight']['Make/Model'])
Unknown_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Unknown']['Make/Model'])
WSFT_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'WSFT']['Make/Model'])
PoweredLift_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Powered-Lift']['Make/Model'])
Blimp_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Blimp']['Make/Model'])
UNK_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'UNK']['Make/Model'])
ULTR_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'ULTR']['Make/Model'])
Rocket_mask = df['Aircraft.Category'].isna() & df['Make/Model'].isin(df[df['Aircraft.Category'] == 'Rocket']['Make/Model'])

In [16]:
df.loc[Airplane_mask, 'Aircraft.Category'] = 'Airplane'
df.loc[Helicopter_mask, 'Aircraft.Category'] = 'Helicopter'
df.loc[Glider_mask, 'Aircraft.Category'] = 'Glider'
df.loc[Balloon_mask, 'Aircraft.Category'] = 'Balloon'
df.loc[Gyrocraft_mask, 'Aircraft.Category'] = 'Gyrocraft'
df.loc[WeightShift_mask, 'Aircraft.Category'] = 'Weight-Shift'
df.loc[PoweredParachute_mask, 'Aircraft.Category'] = 'Powered Parachute'
df.loc[Ultralight_mask, 'Aircraft.Category'] = 'Ultralight'
df.loc[Unknown_mask, 'Aircraft.Category'] = 'Unknown'
df.loc[WSFT_mask, 'Aircraft.Category'] = 'WSFT'
df.loc[PoweredLift_mask, 'Aircraft.Category'] = 'Powered-Lift'
df.loc[Blimp_mask, 'Aircraft.Category'] = 'Blimp'
df.loc[UNK_mask, 'Aircraft.Category'] = 'UNK'
df.loc[ULTR_mask, 'Aircraft.Category'] = 'ULTR'
df.loc[Rocket_mask, 'Aircraft.Category'] = 'Rocket'




df['Aircraft.Category'].value_counts()

Airplane             69263
Helicopter            7420
Glider                1030
Balloon                435
Unknown                235
Gyrocraft              219
Weight-Shift           162
Powered Parachute       92
Ultralight              38
Powered-Lift            30
WSFT                    11
Blimp                    5
UNK                      2
ULTR                     1
Rocket                   1
Name: Aircraft.Category, dtype: int64

In [17]:
df[df['Aircraft.Category']=='Airplane']['Make/Model'].value_counts()

cessna 152               2366
cessna 172               1753
cessna 172n              1171
piper pa28140            1001
cessna 150                829
                         ...
dakota s18160               1
beech kingair200            1
monocoupe 110sp             1
weber acrosportii           1
gmk ventures llc al18       1
Name: Make/Model, Length: 6615, dtype: int64

In [18]:
df[df['Aircraft.Category']=='Airplane']['Make/Model'].value_counts().sum()

69263

In [19]:
#Investigating the unknown aircraft category by make and model, to find any aircrafts.
unknown_aircraft_df = df[df['Aircraft.Category']=='Unknown']
unknown_aircraft_df['Make/Model'].value_counts()

bell 206l3                                 97
schweizer 269c                             89
bell 412                                   23
mitsubishi mu300                            8
agusta a119                                 5
quad city challenger                        3
rans s7                                     3
parachute icarus crossfire2                 1
robinson helicopter company r44ii           1
amateur construction denneykitfoxmk2        1
quicksilver mxlsportii                      1
sui ry, laurinen janne, kääriä compair8     1
cessna aircraft company 560xl               1
varieze ruatan                              1
Name: Make/Model, dtype: int64

In [20]:
# df[(df['Aircraft.Category']=='Airplane') & (df['Make']=='mitsubishi')]

In [21]:
# Identifying airplanes in the unknown aircraft category and classifying them as airplanes.
# Will need to change the "Make" name for cessna aircraft company to cessna

unknown_condition_airplane=((df['Aircraft.Category'] == 'Unknown') & 
                   ((df['Make/Model'] == 'rans s7') | (df['Make/Model'] == 'cessna aircraft company 560xl') | 
                    (df['Make/Model'] == 'mitsubishi mu300')))
df.loc[unknown_condition_airplane, 'Aircraft.Category'] = 'Airplane'

df['Aircraft.Category'].value_counts()

#Now we can just drop all rows where the aircraft category is unknown since there are no more airplanes in the categorgy.

Airplane             69275
Helicopter            7420
Glider                1030
Balloon                435
Unknown                223
Gyrocraft              219
Weight-Shift           162
Powered Parachute       92
Ultralight              38
Powered-Lift            30
WSFT                    11
Blimp                    5
UNK                      2
ULTR                     1
Rocket                   1
Name: Aircraft.Category, dtype: int64

In [22]:
df['Make/Model'].value_counts()

cessna 152                    2366
cessna 172                    1753
cessna 172n                   1171
piper pa28140                 1001
cessna 172m                    829
                              ...
weber venture                    1
montgomery quickietriq/200       1
ted smith 601p                   1
byron j. moore zealot            1
cessna o1a                       1
Name: Make/Model, Length: 15844, dtype: int64

In [23]:
# Now lets investigate the NaN values in aircraft categorgy.

None_aircraft_df = df[df['Aircraft.Category'].isna()]
None_aircraft_df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Make/Model
9,20020909X01560,Accident,MIA82DA029,1982-01-01,"JACKSONVILLE, FL",United States,NaN,NaN,JAX,JACKSONVILLE INTL,...,NaN,0.0,0.0,3.0,0.0,IMC,Cruise,Probable Cause,01-01-1982,north american navionl17b
344,20020917X02404,Accident,MIA82FA051,1982-02-17,"MIAMI, FL",United States,NaN,NaN,MIA,MIAMI INTERNATIONAL,...,"Pan American World Airways, In",0.0,1.0,1.0,51.0,VMC,Takeoff,Probable Cause,17-02-1983,boeing 727235
1382,20020917X02937,Accident,CHI82DA191,1982-05-29,"DETROIT, MI",United States,NaN,NaN,DTW,DETROIT METROPOLITAN,...,NaN,0.0,0.0,0.0,3.0,IMC,Approach,Probable Cause,29-05-1983,convair 240
1505,20020917X03932,Accident,NYC82DA121,1982-06-09,"SHREWSBURY, PA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,1.0,VMC,Maneuvering,Probable Cause,09-06-1983,scheicher k8b
1871,20020917X03104,Accident,DCA82AA028,1982-07-09,"NEW ORLEANS, LA",United States,NaN,NaN,NaN,NaN,...,Pan American World A/w,153.0,9.0,0.0,7.0,VMC,Takeoff,Probable Cause,09-07-1983,boeing 727235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88484,20220915105948,Accident,ERA22LA421,2022-09-06,"Millersburg, OH",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,2.0,NaN,NaN,NaN,16-09-2022,owen kingsley b vansrv8
88555,20220926105996,Accident,DCA22WA208,2022-09-20,"San Antonio del Estrecho,",Peru,NaN,NaN,NaN,NaN,...,NaN,1.0,0.0,0.0,0.0,NaN,NaN,NaN,26-09-2022,bae 3201ep
88598,20221006106083,Accident,DCA23LA008,2022-09-29,"Denver, CO",United States,NaN,NaN,NaN,NaN,...,Southwest Airlines,0.0,0.0,1.0,140.0,NaN,NaN,NaN,11-10-2022,boeing 7377ct
88750,20221104106250,Accident,GAA23WA025,2022-11-03,"San Clemente,",Côte d'Ivoire,NaN,NaN,NaN,NaN,...,Servicios Aéreos Kipreos Ltda,1.0,0.0,1.0,0.0,NaN,NaN,NaN,01-12-2022,bell uh1d
88878,20221227106496,Accident,WPR23LA074,2022-12-17,"Cottonwood, CA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,27-12-2022,royse ralph l glasair

In [25]:
None_aircraft_df['Make'].value_counts()

boeing               443
cessna               340
beech                314
piper                265
mcdonnell douglas    132
                    ...
lett                   1
john d. williams       1
schwarzler             1
john greenlee          1
bainbridge             1
Name: Make, Length: 3982, dtype: int64

In [26]:
None_aircraft_df[None_aircraft_df['Make'] =='beech']['Make/Model'].value_counts()

beech b95a           8
beech v35tc          7
beech be90           7
beech a90            7
beech 24r            7
                    ..
beech at11/18        1
beech 23a19          1
beech kingairc90b    1
beech p35bonanza     1
beech f.35           1
Name: Make/Model, Length: 187, dtype: int64

In [27]:
None_aircraft_df[None_aircraft_df['Make'] =='cessna']['Make/Model'].value_counts()

cessna 185c       10
cessna 208a        8
cessna tr182rg     6
cessna t337e       6
cessna c172p       6
                  ..
cessna l188        1
cessna 305l19      1
cessna c182n       1
cessna 210t        1
cessna f406        1
Name: Make/Model, Length: 215, dtype: int64

In [28]:
#Here we are assigning the variable 'airplane' to well known airplane manufactures that dont have a aircraft classification.

df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'boeing'), 'Aircraft.Category'] = 'Airplane'
df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'cessna'), 'Aircraft.Category'] = 'Airplane'
df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'beech'), 'Aircraft.Category'] = 'Airplane'
df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'beechcraft'), 'Aircraft.Category'] = 'Airplane'
df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'piper'), 'Aircraft.Category'] = 'Airplane'
df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'mcdonnell douglas'), 'Aircraft.Category'] = 'Airplane'
df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'douglas'), 'Aircraft.Category'] = 'Airplane'
# df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'de havilland'), 'Aircraft.Category'] = 'Airplane'
# df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'rockwell'), 'Aircraft.Category'] = 'Airplane'
# df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'british aerospace'), 'Aircraft.Category'] = 'Airplane'
# df.loc[(df['Aircraft.Category'].isna()) & (df['Make'] == 'airbus industrie'), 'Aircraft.Category'] = 'Airplane'

In [29]:
df[df['Aircraft.Category']=='Airplane']

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Make/Model
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,stinson 1083
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,piper pa24180
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,cessna 172m
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,rockwell 112
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980,cessna 501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,piper pa28151
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,bellanca 7eca
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,american champion aircraft 8gcbc
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,cessna 210n
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,piper pa24260

In [30]:
df[df['Aircraft.Category']=='Airplane']['Make/Model'].value_counts()

cessna 152                                    2366
cessna 172                                    1753
cessna 172n                                   1171
piper pa28140                                 1001
cessna 150                                     829
                                              ...
rockwell international na26565                   1
frederick f1                                     1
bae systems (operations) limit avro146rj85       1
vans vansrv9                                     1
dennis p. mcgurk f1rocket                        1
Name: Make/Model, Length: 7533, dtype: int64

In [31]:
#Now lets drop all rows in the aircraft category column that don't equal airplane
airplane_df = df[df['Aircraft.Category'] == 'Airplane']
airplane_df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Make/Model
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,stinson 1083
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,piper pa24180
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,cessna 172m
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,rockwell 112
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980,cessna 501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,piper pa28151
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,bellanca 7eca
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,american champion aircraft 8gcbc
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,cessna 210n
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,piper pa24260

In [32]:
airplane_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70878 entries, 0 to 88888
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                70878 non-null  object
 1   Investigation.Type      70878 non-null  object
 2   Accident.Number         70878 non-null  object
 3   Event.Date              70878 non-null  object
 4   Location                70837 non-null  object
 5   Country                 70777 non-null  object
 6   Latitude                28012 non-null  object
 7   Longitude               28003 non-null  object
 8   Airport.Code            42652 non-null  object
 9   Airport.Name            44737 non-null  object
 10  Injury.Severity         69989 non-null  object
 11  Aircraft.damage         68402 non-null  object
 12  Aircraft.Category       70878 non-null  object
 13  Registration.Number     69976 non-null  object
 14  Make                    70878 non-null  object
 15  Model                   70878 non-null  object
 16  Amateur.Built           70800 non-null  object
 17  Number.of.Engines       66833 non-null  float64
 18  Engine.Type             65737 non-null  object
 19  FAR.Description         27301 non-null  object
 20  Schedule                9579 non-null   object
 21  Purpose.of.flight       65907 non-null  object
 22  Air.carrier             13604 non-null  object
 23  Total.Fatal.Injuries    62179 non-null  float64
 24  Total.Serious.Injuries  61324 non-null  float64
 25  Total.Minor.Injuries    61871 non-null  float64
 26  Total.Uninjured         66797 non-null  float64
 27  Weather.Condition       67243 non-null  object
 28  Broad.phase.of.flight   48112 non-null  object
 29  Report.Status           65626 non-null  object
 30  Publication.Date        59900 non-null  object
 31  Make/Model              70878 non-null  object
dtypes: float64(5), object(27)
memory usage: 17.8+ MB

In [33]:
airplane_df['Amateur.Built'].value_counts()

No     67254
Yes     3546
Name: Amateur.Built, dtype: int64

In [34]:
filtered_df = airplane_df[airplane_df['Injury.Severity'].isnull()]
filtered_df.loc[:, ['Event.Date','Injury.Severity','Total.Fatal.Injuries','Total.Serious.Injuries','Total.Minor.Injuries','Total.Uninjured','Broad.phase.of.flight','Make/Model']]

,Event.Date,Injury.Severity,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Broad.phase.of.flight,Make/Model
63918,2008-01-03,NaN,0.0,0.0,0.0,0.0,NaN,boeing 737400
63987,2008-01-24,NaN,0.0,0.0,0.0,0.0,NaN,cessna c208bcaravan
64026,2008-02-03,NaN,0.0,0.0,0.0,0.0,NaN,boeing 737
64128,2008-02-28,NaN,0.0,0.0,0.0,0.0,NaN,piper pa34200
64178,2008-03-10,NaN,0.0,0.0,0.0,0.0,NaN,boeing 737400
...,...,...,...,...,...,...,...,...
88832,2022-11-27,NaN,0.0,0.0,0.0,0.0,NaN,cessna 177
88849,2022-12-05,NaN,0.0,0.0,0.0,0.0,NaN,boeing 737
88879,2022-12-18,NaN,0.0,0.0,0.0,0.0,NaN,airbus a330243
88885,2022-12-26,NaN,0.0,0.0,0.0,0.0,NaN,bellanca 7eca
88887,2022-12-26,NaN,0.0,0.0,0.0,0.0,NaN,cessna 210n

In [35]:
# Here I am checking to make sure there are no fatalitites recorded in this row.
#We are good to remove rows where the Injury Severity is null.
filtered_df['Total.Fatal.Injuries'].sum()
filtered_df['Total.Serious.Injuries'].sum()
filtered_df['Total.Minor.Injuries'].sum()
filtered_df['Total.Uninjured'].sum()

0.0

In [36]:
#Drop rows where the Injury Severity is NA
airplane_df =airplane_df.dropna(subset=['Injury.Severity'])
airplane_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69989 entries, 0 to 88888
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                69989 non-null  object
 1   Investigation.Type      69989 non-null  object
 2   Accident.Number         69989 non-null  object
 3   Event.Date              69989 non-null  object
 4   Location                69948 non-null  object
 5   Country                 69888 non-null  object
 6   Latitude                27816 non-null  object
 7   Longitude               27807 non-null  object
 8   Airport.Code            42454 non-null  object
 9   Airport.Name            44526 non-null  object
 10  Injury.Severity         69989 non-null  object
 11  Aircraft.damage         67982 non-null  object
 12  Aircraft.Category       69989 non-null  object
 13  Registration.Number     69093 non-null  object
 14  Make                    69989 non-null  object
 15  Model                   69989 non-null  object
 16  Amateur.Built           69911 non-null  object
 17  Number.of.Engines       66566 non-null  float64
 18  Engine.Type             65555 non-null  object
 19  FAR.Description         26589 non-null  object
 20  Schedule                9209 non-null   object
 21  Purpose.of.flight       65863 non-null  object
 22  Air.carrier             13118 non-null  object
 23  Total.Fatal.Injuries    61290 non-null  float64
 24  Total.Serious.Injuries  60435 non-null  float64
 25  Total.Minor.Injuries    60982 non-null  float64
 26  Total.Uninjured         65908 non-null  float64
 27  Weather.Condition       67165 non-null  object
 28  Broad.phase.of.flight   48112 non-null  object
 29  Report.Status           65543 non-null  object
 30  Publication.Date        59248 non-null  object
 31  Make/Model              69989 non-null  object
dtypes: float64(5), object(27)
memory usage: 17.6+ MB

In [41]:
# Looking at rows where the fata injury category is na or zero
airplane_df[airplane_df['Total.Fatal.Injuries'].isnull()]
# airplane_df[airplane_df['Total.Fatal.Injuries'] == 0]
# airplane_df[(airplane_df['Total.Fatal.Injuries'] == 0) | (airplane_df['Total.Fatal.Injuries'].isnull())]

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Make/Model
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982,cessna 140
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,NaN,NaN,N58,HANOVER,...,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982,cessna 401b
10,20020909X01559,Accident,FTW82DA034,1982-01-01,"HOBBS, NM",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,1.0,VMC,Approach,Probable Cause,01-01-1982,piper pa28161
11,20020909X01558,Accident,ATL82DKJ10,1982-01-01,"TUSKEGEE, AL",United States,NaN,NaN,NaN,TUSKEGEE,...,NaN,0.0,0.0,0.0,1.0,VMC,Landing,Probable Cause,01-01-1982,beech v35b
12,20020917X02148,Accident,FTW82FRJ07,1982-01-02,"HOMER, LA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,1.0,0.0,IMC,Cruise,Probable Cause,02-01-1983,bellanca 1730a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88881,20221221106483,Accident,CEN23LA067,2022-12-21,"Auburn Hills, MI",United States,NaN,NaN,NaN,NaN,...,Pilot,0.0,1.0,0.0,0.0,NaN,NaN,NaN,22-12-2022,cessna 172f
88882,20221222106486,Accident,CEN23LA068,2022-12-21,"Reserve, LA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,27-12-2022,grumman american avn. corp. aa5b
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022,piper pa28151
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,american champion aircraft 8gcbc
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,piper pa24260

In [42]:
#Here I am looking at rows where all injury categories are NaN

filtered_df = airplane_df[airplane_df['Total.Fatal.Injuries'].isnull() & airplane_df['Total.Serious.Injuries'].isnull() & airplane_df['Total.Minor.Injuries'].isnull() & airplane_df['Total.Uninjured'].isnull()]
filtered_df.loc[:, ['Event.Date','Injury.Severity','Total.Fatal.Injuries','Total.Serious.Injuries','Total.Minor.Injuries','Total.Uninjured','Broad.phase.of.flight','Make/Model']]
#Might be best just to drop all of these rows, since we don't know how many people were on the plane.
#For the standing phases of the flight, we can replace total uninjured with average total people for that make/model

,Event.Date,Injury.Severity,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Broad.phase.of.flight,Make/Model
15579,1986-08-10,Incident,NaN,NaN,NaN,NaN,Standing,mcdonnell douglas dc1040
18430,1987-08-16,Incident,NaN,NaN,NaN,NaN,NaN,boeing b767200er
19110,1987-11-07,Incident,NaN,NaN,NaN,NaN,NaN,mcdonnell douglas dc1015
19342,1987-12-16,Unavailable,NaN,NaN,NaN,NaN,NaN,boeing 747124f
20067,1988-04-14,Incident,NaN,NaN,NaN,NaN,NaN,boeing 747
...,...,...,...,...,...,...,...,...
62585,2007-05-25,Unavailable,NaN,NaN,NaN,NaN,NaN,douglas dc3
63009,2007-07-23,Incident,NaN,NaN,NaN,NaN,NaN,airbus a330
63398,2007-09-16,Unavailable,NaN,NaN,NaN,NaN,NaN,piper pa32301
63646,2007-10-28,Incident,NaN,NaN,NaN,NaN,Standing,boeing 757225
63761,2007-11-22,Incident,NaN,NaN,NaN,NaN,NaN,boeing 767300

In [43]:
# This replaces all 4 columns with zero. But we should just drop these rows entitely as we have no data to work with.
# columns_to_check = ['Total.Fatal.Injuries','Total.Serious.Injuries','Total.Minor.Injuries','Total.Uninjured']
# condition = (airplane_df['Broad.phase.of.flight'] == 'Standing') & airplane_df[columns_to_check].isnull().all(axis=1)
# df.loc[condition, columns_to_check] = 0

In [44]:
#I think we should remove all rows where all four injury columns are N/A.
#Then go in and replace all N/A value in the four columns (ex. Total. Uninjured) with zero.
#4081+65908 = 69,989

filtered_df = airplane_df[airplane_df['Total.Uninjured'].isnull()]
filtered_df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Make/Model
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,cessna 172m
293,20020917X02136,Accident,FTW82FRA16,1982-02-11,"BRENHAM, TX",United States,NaN,NaN,NaN,BRENHAM MUNICIPAL,...,NaN,1.0,NaN,NaN,NaN,VMC,Takeoff,Probable Cause,30-10-2017,piper pa60602p
593,20080417X00504,Accident,MIA08CA076,1982-03-16,"MOBILE, AL",United States,30.757778,-88.355555,MOB,MOBILE REGIONAL,...,NaN,1.0,NaN,NaN,NaN,IMC,Landing,Probable Cause,30-04-2008,beech c24r
1970,20020917X02985,Accident,CHI82DA251,1982-07-16,"WASHINGTON ISLAND, WI",United States,NaN,NaN,3W12,WASHINGTON IS,...,NaN,NaN,1.0,3.0,NaN,VMC,Landing,Probable Cause,01-02-2016,cessna 172p
2099,20020917X02847,Accident,ATL82FA212,1982-07-25,"LOUISBURG, NC",United States,NaN,NaN,LFN,FRANKLIN COUNTY,...,NaN,4.0,1.0,NaN,NaN,VMC,Takeoff,Probable Cause,17-10-2016,cessna 182a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63872,20080204X00134,Accident,DFW08CA048,2007-12-21,"ELMENDORF, TX",United States,29.268334,-98.335,28TE,Elmendorf,...,NaN,NaN,NaN,1.0,NaN,VMC,Landing,Probable Cause,28-02-2008,portman rv7a
63885,20080108X00031,Accident,DFW08WA050,2007-12-23,"Boquete, Panama",Panama,NaN,NaN,NaN,NaN,...,NaN,3.0,1.0,NaN,NaN,NaN,NaN,Foreign,08-01-2008,cessna 172
63892,20080229X00252,Accident,MIA08WA058,2007-12-26,"OCUMARE DEL TUY, VENEZUELA",Venezuela,10.121667,-66.771667,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,VMC,NaN,Foreign,29-02-2008,cessna t210l
63899,20080108X00030,Accident,CHI08FA055,2007-12-27,"Traverse City, MI",United States,44.737222,-85.5275,TVC,Cherry Capital Airport,...,NaN,1.0,1.0,NaN,NaN,IMC,Approach,Probable Cause,05-08-2011,cessna 310r
63909,20080114X00045,Accident,LAX08FA043,2007-12-30,"PASO ROBLES, CA",United States,35.542222,-120.522778,PRB,Paso Robles Airport,...,NaN,1.0,NaN,NaN,NaN,VMC,Maneuvering,Probable Cause,20-06-2014,cirrus design corp. sr22

In [45]:
# step 1
#I'm dropping rows, where there is no information to how many passangers were on board.  
columns_to_check = ['Total.Fatal.Injuries','Total.Serious.Injuries','Total.Minor.Injuries','Total.Uninjured']
airplane_df.dropna(subset=columns_to_check, how='all', inplace=True)
airplane_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69809 entries, 0 to 88888
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                69809 non-null  object
 1   Investigation.Type      69809 non-null  object
 2   Accident.Number         69809 non-null  object
 3   Event.Date              69809 non-null  object
 4   Location                69772 non-null  object
 5   Country                 69711 non-null  object
 6   Latitude                27810 non-null  object
 7   Longitude               27801 non-null  object
 8   Airport.Code            42436 non-null  object
 9   Airport.Name            44507 non-null  object
 10  Injury.Severity         69809 non-null  object
 11  Aircraft.damage         67863 non-null  object
 12  Aircraft.Category       69809 non-null  object
 13  Registration.Number     69053 non-null  object
 14  Make                    69809 non-null  object
 15  Model                   69809 non-null  object
 16  Amateur.Built           69760 non-null  object
 17  Number.of.Engines       66529 non-null  float64
 18  Engine.Type             65478 non-null  object
 19  FAR.Description         26528 non-null  object
 20  Schedule                9044 non-null   object
 21  Purpose.of.flight       65791 non-null  object
 22  Air.carrier             13115 non-null  object
 23  Total.Fatal.Injuries    61290 non-null  float64
 24  Total.Serious.Injuries  60435 non-null  float64
 25  Total.Minor.Injuries    60982 non-null  float64
 26  Total.Uninjured         65908 non-null  float64
 27  Weather.Condition       67095 non-null  object
 28  Broad.phase.of.flight   48105 non-null  object
 29  Report.Status           65363 non-null  object
 30  Publication.Date        59114 non-null  object
 31  Make/Model              69809 non-null  object
dtypes: float64(5), object(27)
memory usage: 17.6+ MB

In [46]:
airplane_df[airplane_df['Total.Uninjured']!=0]
# airplane_df[airplane_df['Total.Uninjured']==0]
# airplane_df[airplane_df['Total.Uninjured'].isna()]

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Make/Model
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007,cessna 172m
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.445277,-70.758333,NaN,NaN,...,Air Canada,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017,mcdonnell douglas dc9
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982,cessna 140
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,NaN,NaN,N58,HANOVER,...,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982,cessna 401b
10,20020909X01559,Accident,FTW82DA034,1982-01-01,"HOBBS, NM",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,0.0,0.0,1.0,VMC,Approach,Probable Cause,01-01-1982,piper pa28161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88876,20221219106475,Accident,WPR23LA069,2022-12-15,"Wichita, KS",United States,373829N,0972635W,ICT,WICHITA DWIGHT D EISENHOWER NT,...,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,19-12-2022,swearingen sa226tc
88880,20221219106477,Accident,WPR23LA071,2022-12-18,"San Manual, AZ",United States,NaN,NaN,NaN,NaN,...,Chandler Air Service,0.0,0.0,0.0,3.0,NaN,NaN,NaN,20-12-2022,piper pa28
88882,20221222106486,Accident,CEN23LA068,2022-12-21,"Reserve, LA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,27-12-2022,grumman american avn. corp. aa5b
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022,american champion aircraft 8gcbc
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022,piper pa24260

In [47]:
airplane_df[columns_to_check] = airplane_df[columns_to_check].fillna(0)
airplane_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69809 entries, 0 to 88888
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                69809 non-null  object
 1   Investigation.Type      69809 non-null  object
 2   Accident.Number         69809 non-null  object
 3   Event.Date              69809 non-null  object
 4   Location                69772 non-null  object
 5   Country                 69711 non-null  object
 6   Latitude                27810 non-null  object
 7   Longitude               27801 non-null  object
 8   Airport.Code            42436 non-null  object
 9   Airport.Name            44507 non-null  object
 10  Injury.Severity         69809 non-null  object
 11  Aircraft.damage         67863 non-null  object
 12  Aircraft.Category       69809 non-null  object
 13  Registration.Number     69053 non-null  object
 14  Make                    69809 non-null  object
 15  Model                   69809 non-null  object
 16  Amateur.Built           69760 non-null  object
 17  Number.of.Engines       66529 non-null  float64
 18  Engine.Type             65478 non-null  object
 19  FAR.Description         26528 non-null  object
 20  Schedule                9044 non-null   object
 21  Purpose.of.flight       65791 non-null  object
 22  Air.carrier             13115 non-null  object
 23  Total.Fatal.Injuries    69809 non-null  float64
 24  Total.Serious.Injuries  69809 non-null  float64
 25  Total.Minor.Injuries    69809 non-null  float64
 26  Total.Uninjured         69809 non-null  float64
 27  Weather.Condition       67095 non-null  object
 28  Broad.phase.of.flight   48105 non-null  object
 29  Report.Status           65363 non-null  object
 30  Publication.Date        59114 non-null  object
 31  Make/Model              69809 non-null  object
dtypes: float64(5), object(27)
memory usage: 17.6+ MB

In [1]:
#Here we are looking at information on how many passangers were on board.
# Here we could replace Total.unijured values with the average passagers per Make/Model.
# airplane_df[(airplane_df[columns_to_check] == 0).all(axis=1)]
# airplane_df[(airplane_df[columns_to_check] == 0).any(axis=1)]
airplane_df[(airplane_df[columns_to_check] != 0).all(axis=1)] #When you look at this event id 20001213X35148 has a duplicate.

NameError: name 'airplane_df' is not defined

In [56]:
airplane_df['Aircraft.damage'].value_counts()

Substantial    51688
Destroyed      14075
Minor           2023
Unknown           77
Name: Aircraft.damage, dtype: int64

In [49]:
#For the make/models in the table above. Find the average number of passengers in this data set.
# Take the total by summing the four injury columns.

airplane_df['Total Passengers']= airplane_df[columns_to_check].sum(axis=1)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Make/Model,Total Passengers
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN,stinson 1083,2.0
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996,piper pa24180,4.0
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,3.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,26-02-2007,cessna 172m,3.0
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000,rockwell 112,2.0
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,1.0,2.0,0.0,0.0,VMC,Approach,Probable Cause,16-04-1980,cessna 501,3.0

In [ ]:
# # Now find the average number of passangers per unique make/model.


# # Assuming df is your DataFrame
# # Replace 'make_model_column' and 'passengers_column' with the actual column names
# make_model_column = 'Make/Model'
# passengers_column = 'Total Passengers'

# # Filter out rows where total passengers are not equal to zero
# filtered_df = airplane_df[airairplane_df[passengers_column] != 0]

# # Group by unique make/model and calculate the average number of passengers
# average_passengers_per_make_model = filtered_df.groupby(make_model_column)[passengers_column].mean()

# # Merge the averages back into the original DataFrame
# airplane_df = airplane_df.merge(average_passengers_per_make_model, left_on=make_model_column, right_index=True, how='left')

# # Rename the new column
# airplane_df.rename(columns={passengers_column+'_y': 'average_passengers'}, inplace=True)

# # Display the resulting DataFrame
# print(airplane_df)

In [ ]:
# #  Now that you have the avergage number of passagers, if airplane_df[(airplane_df[columns_to_check] == 0).all(axis=1)]
# # and phase of flight = standing, replace total uninjured with average number of passangers.


# # Assuming df is your DataFrame
# # Replace 'columns_to_check', 'passengers_column', and 'phase_of_flight_column' with actual column names

# passengers_column = 'Total Passengers'
# phase_of_flight_column = 'Broad.phase.of.flight	'

# # Filter rows where all specified columns are equal to zero and phase of flight is standing
# replace_condition = (airplane_df[columns_to_check] == 0).all(axis=1) & (airplane_df[phase_of_flight_column] == 'standing')

# # Replace 'total uninjured' with the average number of passengers for the matching rows
# airplane_df.loc[replace_condition, 'Total.Uninjured'] = airplane_df.loc[replace_condition, passengers_column]

# # Display the resulting DataFrame
# print(airplane_df)

In [ ]:
#NEed to check for duplicated values
#